* {
	padding: 0;
	margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
	font-family: Arial, sans-serif;
}
header{
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	height: 700px;
	width: 100%;
}
.container {
	width: 932px;
	margin: 0 auto;
}
.logo {
	margin-top: 50px;
	float: left;
}
nav{
	float: right;
	margin-top: 50px;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
	margin-left: 10px;
}
.menu li{
	float: left;
	display: block;
	margin-right: 41px;
}
.menu a{
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	margin-left: -10px;
}
.titles-first{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 195px;
}
h1{
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	margin-top: 25px;
}
.btn a{
	text-transform: uppercase;
	text-decoration: none;
	background: #fed136;
	text-align: center;
	width: 240px;
	font-size: 18px;
	color: #484543;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	padding: 23.5px 0px;
	margin-top: 50px;
	font-weight: bold;
}
.service_titles{
	background: #ffffff;
}
.head_section{
	margin: 0 auto;
	font-size: 40px;
	font-weight: bold;
	width: 400px;
	text-align: center;
	margin-top: 120px;
}
p {
	font-size: 16px;
	color: #777777;
	text-align: center;
}
.block1_services{
	width: 260px;
	text-align: center;
	float: left;
}
.block2_services{
	width: 260px;
	text-align: center;
	float: left;
	margin-left: 70px;
}
.block3_services{
	width: 260px;

	/*height: 190px;*/
	text-align: center;
	float: right;
}
.feature_services img{
	margin-top: 80px;
}
.feature_services h2{
	margin-top: 20px;
}
.feature_services p{
	margin-top: 21px;
}
.feature_services .head_section_p{
	margin-top: 15px;
}
h2{
	font-size: 18px;
	font-weight: bold;
}
.portfolio{
	margin: 0 auto;
	font-size: 40px;
	font-weight: bold;
	width: 400px;
	text-align: center;
	background: #f7f7f7;
	padding-top: 120px;
	min-width: 920px;
	margin-top: 120px;
}
.img_1 {
	float: left;
}
.img_3 {
	float: right;
}
.porfolio_img{
	padding-top: 75px;
	padding-bottom: 134px;
}
.block_head {
	font-size: 40px;
	font-weight: bold;
	margin: 0 auto;
	color: black;
	padding-bottom: 10px;
}
.dates_left{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	padding-bottom: 5px;
}
.about_description_left{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	padding-bottom: 10px;
}
.description{
	text-align: right;
}
.july{
	float: left;
	width: 290px;
	margin: 0 auto;
	margin-right: 40px;
	margin-left: 45px;
}
.july p{
	text-align: right;
}
.july img{
	float: right;
	padding-left: 10px;
	width: 100%;
}
.about1{
	width: 100%;
	padding-top: 80px;
}
